{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-6">
                <h1>Posts about {{ .Title }}</h1>
                <hr>
                <ul>
                    {{ range .Data.Pages.ByPublishDate }}
                    {{ partial "list" . }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}